
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
  background: black;
}
.header
{

    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 10px;
    background: rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color:rgb(245, 97, 1);
}
.logo img{
    padding-top: 5px;
    height: 60px;
    width: 120px;
}
.logo h1 h2{
    display: flex;
    flex-direction:column;
}
.navbar
{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 25px;
 font-size: 27px;
 padding: 20px;
 
 
}
.navbar a{
    color:whitesmoke;
}
.navbar a:hover{
    cursor: pointer;
    color: orangered;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold; 
    font-display: block;
    
}

/* .hero
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    height: 100vh;
    color:rgb(254, 21, 19);
    background-image: url(assest/bgn.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
    
} */
/* styles.css */

.carousel-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.overlay h3{
    
  font-size: 18px;
  font-family: Muli, sans-serif;
  font-weight: 700;
  transition: all 0.4s ease 0.4s;
    opacity: 1;
  line-height: 27px;
}
.overlay h1{
  font-size: 80px;
  transition: all 0.4s ease 0.4s;
  font-family: Oswald, sans-serif;
  font-weight: 900;
  line-height: 90px;
    opacity: 1;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: start;
  width: max-content;
  padding: 20px;
  border-radius: 10px;
}

.prev,.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
  background-color: #7489C6;
}

.next {
  right: 0;
  border-radius: 3px 3px 0 0;
  background-color: #7489C6;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
   

.btn{
    margin-top: 100px;
    padding: 20px;
    height: 35px;
    width: 120px;
    background-color:rgb(254, 21, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: antiquewhite;
    /* border-radius: 30px; */
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0 0 70px 30px rgb(72, 30, 20);
}

.about{
    background-color: rgb(17, 17, 17);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
   padding-bottom: 80px;
   padding-top: 80px;
    gap: 25px;
}
.about-details{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}

.about-details h1{
    text-shadow: 10px 5px rgba(82, 81, 81,.8);
    /* a denoted opacity(alpha) */
    font-size: 40px;
}
.about-details h3{
    width: 800px;

    
}
.btn2
{

    background-color: red;
    color: aliceblue;
    font-size: 20px;
    border-radius: 50px;
    padding: 15px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    border: none;
    margin-top: 30px;
}
.btn2:hover{
    box-shadow:  0 0 5px 5px red;
    /* inset property used to give shadow inside */
    /* multiple shadow can be given using commas ,15px 20px green */
    /* for upper shadow negative , and for lower shadow poositive  */
    cursor: pointer;
}

.about-img img{
   
    width: 280x;
    height: 365px;
}
.about-img img:hover{
    cursor: pointer;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 15px;
    height: 50vh;
}
.box img{
    height: 100px;
    width: 80px;
}
.service h3{
    color: aliceblue;
}
.service h1{
    color:rgb(61, 202, 30);
}
.container{
    /* border: solid 2px rgb(239, 54, 54); */
    display: flex;
    gap:15px;
}
.box{
    /* border: solid 2px white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 30vh;
    background-color: rgb(204, 202, 202);
    border-radius: 30px;
    text-align: center;
    gap: 10px;

}
.plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 21, 21);
    gap: 15px;
    height: 120vh;
}
.plan h3{
    color: aliceblue;
    font-size: 30px;
}
.plan h1{
    color:rgb(61, 202, 30);
    font-size: 50px;
}
.plan-container{
    /* border: solid 2px rgb(239, 54, 54); */
    display: flex;
    /* background-color:; */
    gap:55px;
    position: relative; 
    top: 100px;
     left: 70px;  
}
/* .plan-box
{
     border: solid 2px white; 
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 50vh;
    width: 20vw;
    background-color: rgb(70, 69, 69);
    text-align: center;
    gap: 10px; 

} 
.plan-box 
{
    &:after {
      z-index: -1;
          content: "";
          position: absolute;
          top: 0;
       left: 0;
          height: 40vh;
          width: 40vh;
          background-color: inherit;
       border: 2px solid maroon;
          -webkit-transform: skewX(-10deg);
          -moz-transform: skewX(-10deg);
          -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
    }
} */
.plan-box{
    /* position: relative; */
    /* top: 50px;
    left: 40px; */
    gap: 15px;
    align-items: center;
    border: solid 2px whitesmoke;
        /* background:rgb(169, 29, 58); */
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: rgb(238, 238, 238);
        height: 60vh;
        width: 20vw;
        margin-top: 30px;
        padding: 0.24em 0.3em 0.25em;
        -webkit-transform: skewX(-10deg);
          -moz-transform: skewX(-10deg);
          -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
}
.plan-box li{
    list-style: none;

}
.plan-box:hover{
    cursor: pointer;
   background-color:rgb(61, 202, 30) ; 
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 50px;
}
.card h1{
    font-size: 50px;
    color:rgb(61, 202, 30);
}
.card h3{
    font-size: 30px;
    color: rgb(240, 149, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container {
    display: flex;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    padding: 40px 40px;
    align-items: center;
    overflow-x: auto;
    width: 1000px;
}
.trainer-box {
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    flex-shrink: 0;
  }

  .trainer-box:hover {
    transform: scale(1.05);
  }

  .trainer-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s;
  }

  .trainer-box:hover .card-layer {
    transform: translateY(0);
  }
  .Contact{

    padding: 80px;
    background-color: rgb(38, 38, 38);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.contact-container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.form{
    display: flex;
    flex-direction: column;
    justify-content:start;
    gap: 8px;
}

.Contact h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.form input{
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px;
}
.email,.fname,.lname,.textarea
{
    display: flex;
    flex-direction: column;
    gap: 6px;
     
}
.textarea textarea
{
 padding: 5px;
}
.name
{
    display: flex;
    gap: 5px; 

}
.line
{
    height: 400px;
    width: 5px;
    background-color: antiquewhite;
    ;
}
.add
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.heading h2{
    font-size: 40px;
}
.heading h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading{
    margin-bottom: 45px ;
}
.Contact .head5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer {
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* max-width: 1280px; */
    width: 100%;
    background: #10182F;
    /* border-radius: 6px; */
  }
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3.5rem;
    padding: 60px;
  }
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style:square ;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  .footer-col .links li a:hover {
    color: #fff;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .line {
    height: 400px;
    width: 5px;
    background-color: antiquewhite;
}
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background:rgb(61, 202, 30);
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #afb6c7;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }


  .team-container {
    position: relative;
    max-width: 1200px;
    overflow: hidden;
  }
  
  .team1 {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .team-image {
    min-width: calc(100% / 3);
    box-sizing: border-box;
    padding: 10px;
  }
  
  .team-image img {
    width: 100%;
    height: auto;
  }
  
  .dots {
    text-align: center;
    padding: 10px;
  }
  
  .dot {
    cursor: pointer;
    height: 5px;
    width: 20px;
    margin: 0 2px;
    background-color: orange;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  /* styles.css */



  .album .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: center;
    background: black;
  }
  
  .album > h1{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
    font-size: 50px;
  }
  .album .responsive-container-block.bg {
    max-width: 1320px;
    margin: 0 0 0 0;
    justify-content: space-between;
  }
  
  .album .img {
    width: 100%;
    margin: 0 0 20px 0;
  }
  
  .album #i9rb {
    color: black;
  }
  
  .album #ir6i {
    color: black;
  }
  
  .album #ikz3b {
    color: black;
  }
  
  .album .responsive-container-block.img-cont {
    flex-direction: column;
    max-width: 33.3%;
    min-height: auto;
    margin: 0 0 0 0;
    height: 100%;
  }
  
  .album #ipix {
    color: black;
  }
  
  .album #ipzoh {
    color: black;
  }
  
  .album #ig5q8 {
    color: black;
  }
  
  .album #imtzl {
    color: black;
  }
  
  .album #i53es {
    color: black;
  }
  
  .album .img.img-big {
    height: 50%;
    margin: 0 0 16px 0;
  }
  
  @media (max-width: 1024px) {
    .album .img {
      margin: 0 0 18px 0;
    }
  }
  
  @media (max-width: 768px) {
    .album .img {
      max-width: 32.5%;
      margin: 0 0 0 0;
    }
  
    .album .responsive-container-block.bg {
      flex-direction: column;
    }
  
    .album .responsive-container-block.img-cont {
      max-width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .album .img.img-big {
      max-width: 49%;
      margin: 0 0 0 0;
    }
  }
  
  @media (max-width: 500px) {
    .album .img {
      max-width: 94%;
      margin: 0 0 25px 0;
    }
  
    .album .responsive-container-block.img-cont {
      flex-direction: column;
      align-items: center;
      padding: 10px 10px 10px 10px;
    }
  
    .album .img.img-big {
      max-width: 94%;
      margin: 0 0 25px 0;
    }
  
    .album .img.img-last {
      margin: 0 0 5px 0;
    }
  }
  .banner
  {
    background-image: url(assest/banner-bg.jpg);
    height: 70vh;
    background-repeat: no-repeat;
  }
  .banner-contain
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px;
    gap: 10px;

  }
  .banner-contain h1
  {
    color: white;
    font-size: 48px;
  transition: all 0.4s ease 0.4s;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  line-height: 58px;
    opacity: 1;
  }
  .banner-contain h2
  {
    color: white;
    font-size: 20px;
  transition: all 0.4s ease 0.4s;
  font-family: Muli, sans-serif;
  font-weight: 700;
  line-height: 30px;
    opacity: 1;
  }
  .banner-contain .bannerbtn
  {
    padding: 15px;
    background: rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    color: white;
    border:solid 2px rgb(245, 97, 1);
    font-size: 14px;
  /* transition: all 0.4s ease 0.4s; */
  font-family: Muli, sans-serif;
  font-weight: 700;
  line-height: normal;
  }
  .banner-contain.bannerbtn :hover
  {
    cursor: pointer;
    background-color: rgb(245, 97, 1);
  }

